<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NOE Tourismus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="path/to/occupancyTableStyle.css">
    <!-- CSS EINBINDUNG ACHILL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umed/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Codeanfang_Achill_24.03.2024/27.08.2024/28.08.2024/01.04.2024/03.04.2024/_Page-Navigation,SwitchZIPAscDesc,HotelDataInfo -->
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("hotelData");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until no switching has been done: */
            while (switching) {
                // Starting by no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Starting by saying there should be no switching:
                    shouldSwitch = false;
                    /* Getting the two elements to compare, one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place, based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (Number(x.innerHTML) < Number(y.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        $(document).ready(function () {
            $('#pageSizeTop, #pageSizeBottom').change(function () {
                // Das Formular automatisch absenden, wenn eine neue Option ausgewählt wird
                this.form.submit();
            });

            // Setze den ausgewählten Wert basierend auf dem Wert im localStorage oder dem vom Server zurückgegebenen Wert
            var storedSize = localStorage.getItem('selectedSize') || '10';
            $('#pageSizeTop, #pageSizeBottom').val(storedSize);

            // Speichere den ausgewählten Wert im localStorage, wenn das Formular abgesendet wird
            $('#pageSizeTop, #pageSizeBottom').on('change', function () {
                localStorage.setItem('selectedSize', $(this).val());
            });

            // PDF-Modal Achill
            $("#myBtn").click(function (event) {
                event.preventDefault();
                fetch('/report/pdf')
                    .then(response => {
                        if (response.ok) {
                            $("#myModal").show();
                        } else {
                            alert("Error generating the report");
                        }
                    })
                    .catch(error => {
                        alert("An error occurred: " + error);
                    });
            });

            $("#myModal .close, #myModal #closeBtn").click(function () {
                $("#myModal").hide();
            });

            $(window).click(function (event) {
                if ($(event.target).is("#myModal")) {
                    $("#myModal").hide();
                }
            });


            // Hotel-Info-Modal ACHILL
            function showHotelInfo(button) {
                var hotelId = $(button).data('id');
                var hotelName = $(button).data('name');
                var hotelAddress = $(button).data('address');
                var hotelZIP = $(button).data('zip');
                var hotelCity = $(button).data('city');
                var hotelOwner = $(button).data('owner');
                var hotelContact = $(button).data('contact');
                var hotelPhone = $(button).data('phone');
                var hotelemail = $(button).data('emailAddress');
                var hotelurl = $(button).data('url');
                var hotelcategory = $(button).data('category');
                var hotelfamilyFriendly = $(button).data('familyFriendly');
                var hoteldogFriendly = $(button).data('dogFriendly');
                var hotelspa = $(button).data('spa');
                var hotelfitness = $(button).data('fitness');
                var hotelsubscribed = $(button).data('subscribed');

                var modalContent = $('#hotelInfoContent');
                modalContent.html(
                    '<strong>Hotel ID:</strong> ' + hotelId + '<br>' +
                    '<strong>Hotel Name:</strong> ' + hotelName + '<br>' +
                    '<strong>Address:</strong> ' + hotelAddress + '<br>' +
                    '<strong>ZIP:</strong> ' + hotelZIP + '<br>' +
                    '<strong>City:</strong> ' + hotelCity + '<br>' +
                    '<strong>Owner:</strong> ' + hotelOwner + '<br>' +
                    '<strong>Contact:</strong> ' + hotelContact + '<br>' +
                    '<strong>Phone:</strong> ' + hotelPhone + '<br>' +
                    '<strong>E-Mail Address:</strong> ' + hotelemail + '<br>' +
                    '<strong>URL:</strong> <button class="btn btn-secondary" onclick="window.open(\'' + hotelurl + '\');">URL</button><br><br> ' +
                    '<strong>Category:</strong> ' + hotelcategory + '<br>' +
                    '<strong>family friendly:</strong> ' + hotelfamilyFriendly + '<br>' +
                    '<strong>dog friendly:</strong> ' + hoteldogFriendly + '<br>' +
                    '<strong>spa:</strong> ' + hotelspa + '<br>' +
                    '<strong>fitness:</strong> ' + hotelfitness + '<br>' +
                    '<strong>subscribed:</strong> ' + hotelsubscribed + '<br>'
                );

                $('#hotelInfoModal').show();
            }

            // Event-Listener für Info-Buttons registrieren
            $('.infoBtn').on('click', function () {
                showHotelInfo(this);
            });

            $("#hotelInfoModal .close, #hotelInfoModal #closeInfo").click(function () {
                $("#hotelInfoModal").hide();
            });

            $(window).click(function (event) {
                if ($(event.target).is("#hotelInfoModal")) {
                    $("#hotelInfoModal").hide();
                }
            });

        // ImportCsv Data Achill

            document.addEventListener('DOMContentLoaded', (event) => {
                const triggerCsvImportButton = document.getElementById('triggerCsvImport');
                if (triggerCsvImportButton) {
                    triggerCsvImportButton.addEventListener('click', function () {
                        fetch('/trigger-csv-import')
                            .then(response => {
                                if (response.ok) {
                                    response.text().then(text => alert('Erfolg: ' + text));
                                } else {
                                    response.text().then(text => alert('Fehler: ' + text));
                                }
                            })
                            .catch(error => {
                                console.error('Fehler beim Anfordern der URL: ', error);
                                alert('Netzwerkfehler: ' + error.message);
                            });
                    });
                }
            });


            //Codebegin_Lang_14.04.2024_Sub_button_Script-----------------------------------------------------------------
            //Kommentar, weil ich nochmal pushe wegen rollback

            $('#hotelData').on('click', '.subscription-button', function() {
                console.log('DL TEST Sub-Button clicked!');

                var $button = $(this);
                var hotelId = $button.data('hotel-id');
                var $icon = $button.closest('tr').find('.subscription-icon'); // Das 'subscription-icon' in der gleichen Zeile

                // Loggen der Hotel-ID in der Konsole
                console.log('DL TEST Sub-Button Hotel ID: ' + hotelId);

                $.ajax({
                    url: '/' + hotelId + '/updateSubscription',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({}),
                    success: function(response) {

                        console.log('Response:' + response);

                        if (response) {
                            // Ermitteln des aktuellen Icons und Tauschen
                            var currentIcon = $button.find('img').attr('src');
                            var newIcon;
                            if (currentIcon.includes('subminusPNG.png')) {
                                newIcon = '/images/subplusPNG.png';
                            } else {
                                newIcon = '/images/subminusPNG.png';
                            }
                            newIcon += '?t=' + new Date().getTime(); // Hinzufügen eines Cache-Busters
                            $button.find('img').attr('src', newIcon);

                            var currentIcon = $icon.attr('src');
                            var newIcon;
                            if (currentIcon.includes('okgreenPNG.png')) {
                                newIcon = '/images/noredPNG.png';
                            } else {
                                newIcon = '/images/okgreenPNG.png';
                            }
                            // Hinzufügen eines Cache-Busters
                            newIcon += '?t=' + new Date().getTime();
                            // Aktualisiere das Icon
                            $icon.attr('src', newIcon);

                        } else {
                            console.log('Operation failed or hotel not found');
                        }

                    },
                    //TO DO:
                    error: function(xhr, status, error) {
                        // Fehlerbehandlung, falls erforderlich
                        console.error(xhr.responseText);

                    }
                });
            });

            //Codeend_Lang_14.04.2024_Sub_button_Script--------------------------------------------------------------------
        });

        // tuchan code


        /* document.addEventListener('DOMContentLoaded', function() {
            const hotelRows = document.querySelectorAll('#hotelData tbody .hotel-row');

            hotelRows.forEach(row => {
                row.addEventListener('click', function() {
                    // Entferne existierende Detailtabellen, bevor eine neue erstellt wird
                    removeExistingDetailTables();

                    const hotelId = this.dataset.hotelId;
                    createDetailTable(hotelId, this);
                });
            });
        });
        /*
        function createDetailTable(hotelId, insertAfterElement) {
            var containerRow = insertAfterElement.parentNode.insertRow(insertAfterElement.rowIndex);
            var cell = containerRow.insertCell();
            // Setze colspan auf die Anzahl der Spalten in der übergeordneten Tabelle
            cell.colSpan = insertAfterElement.children.length;

            var table = document.createElement('table');
            table.className = 'detailTable';  // Füge eine Klasse hinzu, um die Tabelle leichter identifizieren zu können
            table.style.width = '100%';
            table.style.background = 'lightgray';
            table.border = '1';

            var header = table.createTHead();
            var headerRow = header.insertRow();
            var headers = ['Total Rooms', 'Booked Rooms', 'Total Beds', 'Booked Beds'];
            headers.forEach(headerText => {
                var cell = headerRow.insertCell();
                cell.textContent = headerText;
                cell.style.fontWeight = 'bold';
                cell.style.color = 'black';
            });

            fetchOccupancyData(hotelId, function(occupancyData) {
                var body = table.createTBody();
                var row = body.insertRow();
                var data = [occupancyData.totalRooms, occupancyData.bookedRooms, occupancyData.totalBeds, occupancyData.bookedBeds];
                data.forEach(cellData => {
                    var cell = row.insertCell();
                    cell.textContent = cellData;
                });

                cell.appendChild(table);
            });
        }

        function fetchOccupancyData(hotelId, callback) {
            // Beispiel-Daten
            callback({ totalRooms: 20, bookedRooms: 10, totalBeds: 40, bookedBeds: 25 });
        }

        function removeExistingDetailTables() {
            // Entferne alle Tabellen mit der Klasse 'detailTable'
            document.querySelectorAll('.detailTable').forEach(table => {
                table.parentNode.parentNode.remove(); // Entfernt die Zeile, die die Tabelle enthält
            });
        }




        /* // Tuchan code
                document.addEventListener('DOMContentLoaded', function() {
                    const hotelRows = document.querySelectorAll('.hotel-row');
                    hotelRows.forEach(row => {
                        row.addEventListener('click', function() {
                            const Id = this.dataset.Id; // Stellen Sie sicher, dass die Hotelzeilen ein data-hotel-id Attribut haben
                            fetch(`/occupancy/by-hotel/${Id}`)
                                .then(response => response.json())
                                .then(data => {
                                    displayOccupancyData(data, this);
                                })
                                .catch(error => console.error('Error loading occupancy data:', error));
                        });
                    });
                });

                function displayOccupancyData(data, hotelRow) {
                    const occupancyTable = document.createElement('table');
                    occupancyTable.innerHTML = `
                <tr>
                    <th>Total Rooms</th>
                    <th>Booked Rooms</th>
                    <th>Total Beds</th>
                    <th>Booked Beds</th>
                </tr>
                ${data.map(occ => `
                    <tr>
                        <td>${occ.rooms}</td>
                        <td>${occ.usedrooms}</td>
                        <td>${occ.beds}</td>
                        <td>${occ.usedbeds}</td>
                    </tr>
                `).join('')}
            `;
                    // Fügen Sie die generierte Tabelle direkt unter der Hotelzeile ein
                    hotelRow.parentNode.insertBefore(occupancyTable, hotelRow.nextSibling);
                }
        */



        function toggleRow(hotelId) {
            var detailRow = document.getElementById('details-' + hotelId);
            if (detailRow) {
                detailRow.classList.toggle('hidden');
            }
        }

    <!-- Codeende_Achill_24.03.2024/27.08.2024/28.08.2024/01.04.2024/03.04.2024/19.04.2024/20.04.2024_Page-Navigation,SwitchZIPAscDesc,HotelDataInfo, ImportCsvData -->
    </script>
    <style>
        .topnav-upper {
            background-color: #66ccff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
        }
        .topnav-lower
        {
            background-color: #66ccff;
        }
        .logo {
            flex: 0 1 auto;
        }

        .user-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .flags-help-logout {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .menu-under-flags {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 10px;
        }
        .hotels-per-page-container {
            display: flex;
            gap: 10px;
        }
        .pagination-and-size-selector {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        /* Style für jede zweite Zeile in der Tabelle */
        #hotelData tr:nth-child(even) {
            background-color: #ccffff;
        }
        .btn-pagination-arrow {
            background-color: #666666;
            border-color: black;
            color:white;
        }

        .btn-pagination-arrow:hover {
            background-color: #bbbbbb;
        }
        .btn-pagination.active {
            background-color: #666666;
            color: white;
            border-color: black;
        }
        .btn-pagination:not(.active):hover {
            background-color: #6699cc;
            color: white;
            border-color: black;
        }


    </style>

</head>
<body>
<!-- Codeanfang_#12_Veton_28.03.2024/inserted logo -->
<div class="topnav topnav-upper">
    <div class="logo">
        <img src="/images/Logo.jpg" alt="Logo">
    </div>
    <!-- Codeende#12_Veton_28.03.2024/inserted logo -->
    <div class="user-controls">
        <div class="flags-help-logout">
            <a class="btn btn-secondary" href="#deletedhotels" style="width: 170px; height: 42px;color:black; background-color: #dee2e6; font-weight: bold; border: 2px solid #004d40;">Deleted Hotels</a>
            <img src="/images/englandFlagPNG.png" alt="Language 2" style="width: 50px; height: 42px;">
            <img src="/images/austriaflagPNG.png" alt="Language 1" style="width: 50px; height: 42px;">
            <a class="btn btn-secondary" href="#help" style="width: 80px; height: 42px;color:black; background-color: #dee2e6; font-weight: bold; border: 2px solid #004d40;">Help</a>
            <a class="btn btn-secondary" href="#logout" style="width: 80px; height: 42px;color:black; background-color: #dee2e6; font-weight: bold; border: 2px solid #004d40;">Logout</a>
       </div>
        <div class="menu-under-flags">
        <!-- Zweite Navigationsleiste für Menülinks -->
            <div class="topnav topnav-lower">
            <div class="navigation-links">

            <a class="btn btn-secondary" id="triggerCsvImport" href="javascript:void(0);" style="color: white; background-color: teal; font-weight: bold; border: 2px solid black">Import CSV Data</a>
            <a id="myBtn" class="btn btn-secondary" style="color:black; background-color: orange; font-weight: bold; border: 2px solid black">Statistics as PDF</a>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 style="font-weight: bold">Statistics as PDF</h2>
                    <br>
                    <p style="font-weight: bold">PDF has been saved.</p>
                    <br>
                    <button id="closeBtn">CLOSE</button>
                </div>

            </div>

            <a class="btn btn-secondary" href="#histogram" style="color:black; background-color: orange; font-weight: bold; border: 2px solid black">Statistics as Histogram</a>
            <a class="btn btn-secondary" href="#subscription" style="color:black; background-color: yellow; font-weight: bold; border: 2px solid black">Send Subscription Mail</a>
            <a class="btn btn-secondary" href="#backup" style="color:black; background-color: yellow; font-weight: bold; border: 2px solid black">Create and Send Backup</a>
            </div>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- Codeende_#1_Achill_22.03.2024/27.03.2024/28.03.2024_Menue-Top -->

<!-- Codeanfang_#1_Achill_10.03.2024/27.03.2024/28.03.2024/03.04.2024_Overview Of Hotels -->
<!-- Paginierungscontainer -->
<div class="pagination-and-size-selector">
    <div class="pagination-container" >
        <!-- Zur ersten Seite -->
        <a th:if="${hotelPage.number > 1}" th:href="@{/index(size=${hotelPage.size}, page=1)}" class="btn btn-pagination btn-pagination-arrow">&lt;&lt;</a>
        <!-- Zur vorherigen Seite -->
        <a th:if="${hotelPage.hasPrevious()}" th:href="@{/index(size=${hotelPage.size}, page=${hotelPage.number})}" class="btn btn-pagination btn-pagination-arrow">&lt;</a>

        <!-- Seitennummern -->
        <a th:each="pageNum : ${pageNumbers}"
           th:href="@{/index(size=${hotelPage.size}, page=${pageNum})}"
           th:text="${pageNum}"
           th:class="${pageNum == hotelPage.number + 1 ? 'btn btn-pagination active' : 'btn btn-pagination'}">
        </a>

        <!-- Zur nächsten Seite -->
        <a th:if="${hotelPage.hasNext()}" th:href="@{/index(size=${hotelPage.size}, page=${hotelPage.number + 2})}" class="btn btn-pagination btn-pagination-arrow">&gt;</a>
        <!-- Zur letzten Seite -->
        <a th:if="${hotelPage.number + 1 < totalPages}" th:href="@{/index(size=${hotelPage.size}, page=${totalPages})}" class="btn btn-pagination btn-pagination-arrow">&gt;&gt;</a>
    </div>
    <div class="hotels-per-page-container" >
        <!-- Das Formular zur Auswahl der Seitengröße -->
        <form action="/index" method="get" class="form-inline my-2 my-lg-0">
            <label for="pageSizeTop">Hotels per Page:</label>
            <select name="size" id="pageSizeTop" class="form-control form-control-sm" onchange="this.form.submit()">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </form>
    </div>
</div>
<br>
<div style="display: flex; justify-content: center;">
    <!-- Codebegin_Dominik_Lang_07.04.2024_added background color (mockup)-->
    <table id="hotelData" border="1" style="background-color: #6699cc;">
        <!-- Codeend_Dominik_Lang_07.04.2024_added background color (mockup)-->
        <thead>
        <tr style="color: white;" data-hotel-id="1" class="hotel-row">
            <!-- Codebegin_Dominik_Lang_07.04.2024_added style="width and text-align: center to Achills and Nikolas Code-->
            <th onclick="sortTable(0)" style="width: 80px; text-align: center">hotel ID</th>
            <th onclick="sortTable(1)">hotel name</th>
            <th style="width: 80px; text-align: center">ZIP <i class="fa fa-sort-asc" onclick="sortTable(2)" style="cursor:pointer;"></i></th>
            <th style="width: 80px; text-align: center" onclick="sortTable(3)">category</th>
            <th style="width: 80px; text-align: center">family friendly</th>
            <th style="width: 80px; text-align: center">dog friendly</th>
            <th style="width: 80px; text-align: center">spa</th>
            <th style="width: 80px; text-align: center">fitness</th>
            <th style="width: 80px; text-align: center">subscribed</th>
            <th style="width: 100px; text-align: center">change subscription</th>
            <th style="width: 100px; text-align: center" >info</th>

            <!-- Code Anfang #3_Nikola_06.04_Add Occupancy Form - Link "Add Occupancy" einfügen -->
            <th style="width: 100px; text-align: center">
                <a href="/occupancyform" style="color: white;">add occp. data</a>
            </th>

            <!-- Code Ende #3_Nikola_06.04_Add Occupancy Form - Link "Add Occupancy" einfügen-->

            <th style="width: 100px; text-align: center">delete hotel</th>
            <!-- Codeende_Dominik_Lang_07.04.2024_added style="width and text-align: center to Achills and Nikolas Code-->
        </tr>
        </thead>
        <tbody style="background-color: white">
        <tr th:each="hotel, iStat : ${hotelPage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td style="text-align: center;" th:text="${hotel.id}" />
            <td th:text="${hotel.name}" />
            <td style="text-align: center;" th:text="${hotel.cityCode}" />
            <td th:text="${hotel.category}" />

            <!-- Tuchan occupancy option
           <td>
               <div th:each="occupancy : ${occupancyPage.content}" th:if="${occupancy.occupancyid == hotel.id}">
                   <p>
                       <strong th:text="${'Year: ' + occupancy.year}"></strong><br/>
                       Rooms: <span th:text="${occupancy.usedrooms} + '/' + ${occupancy.rooms}"></span><br/>
                       Beds: <span th:text="${occupancy.usedbeds} + '/' + ${occupancy.beds}"></span>
                   </p>
               </div>
           </td>
-->


            <!-- Codebegin_Dominik_Lang_06.04.2024_added attributes and icons-->
            <td style="text-align: center;"> <!-- TO DO: style to css-->
                <img th:if="${hotel.familyFriendly}" src="/images/okgreenPNG.png" alt="okgreen" style="width: 20px; height: 20px;">
                <img th:unless="${hotel.familyFriendly}" src="/images/noredPNG.png" alt="nored" style="width: 20px; height: 20px;">
            </td>
            <td style="text-align: center;"> <!-- TO DO: style to css-->
                <img th:if="${hotel.dogFriendly}" src="/images/okgreenPNG.png" alt="okgreen" style="width: 20px; height: 20px;">
                <img th:unless="${hotel.dogFriendly}" src="/images/noredPNG.png" alt="nored" style="width: 20px; height: 20px;">
            </td>
            <td style="text-align: center;"> <!-- TO DO: style to css-->
                <img th:if="${hotel.spa}" src="/images/okgreenPNG.png" alt="okgreen" style="width: 20px; height: 20px;">
                <img th:unless="${hotel.spa}" src="/images/noredPNG.png" alt="nored" style="width: 20px; height: 20px;">
            </td>
            <td style="text-align: center;"> <!-- TO DO: style to css-->
                <img th:if="${hotel.fitness}" src="/images/okgreenPNG.png" alt="okgreen" style="width: 20px; height: 20px;">
                <img th:unless="${hotel.fitness}" src="/images/noredPNG.png" alt="nored" style="width: 20px; height: 20px;">
            </td>
            <td style="text-align: center;"> <!-- TO DO: style to css-->
                <img class="subscription-icon" data-hotel-id="${hotel.id}" th:if="${hotel.subscribed}" src="/images/okgreenPNG.png" alt="okgreen" style="width: 20px; height: 20px;">
                <img class="subscription-icon" data-hotel-id="${hotel.id}" th:unless="${hotel.subscribed}" src="/images/noredPNG.png" alt="nored" style="width: 20px; height: 20px;">
            </td>
            <!-- Codeend_Dominik_Lang_06.04.2024_added attributes and icons-->

            <!-- Codebegin_Dominik_Lang_07.04.2024_added buttons and icons to html table-->
            <td style="text-align: center; padding: 0;">
                <!-- TO DO: style to css-->
                <button class="subscription-button" style="width: 100%; height: 100%; padding: 0; border: 2px solid black; background: #cccccc; display: flex; justify-content: center; align-items: center;"
                    th:data-hotel-id="${hotel.id}">
                    <img th:if="${hotel.subscribed}" src="/images/subminusPNG.png" alt="subminus" style="width: 20px; height: 20px;">
                    <img th:unless="${hotel.subscribed}" src="/images/subplusPNG.png" alt="subplus" style="width: 20px; height: 20px;">
                </button>
            </td>
            <!-- Codeend_Dominik_Lang_07.04.2024_added buttons and icons to html table-->

            <!-- Codebegin_Dominik_Lang_07.04.2024_added center code-->
            <td style="text-align: center;">
                <!-- Codeend_Dominik_Lang_07.04.2024_added center code-->
                <button class="btn infoBtn"
                        style="width: 100%; height: 100%; padding: 0; border: 2px solid black;
                        background: #cccccc; display: flex; justify-content: center; align-items: center;"
                        th:data-id="${hotel.id}" th:data-name="${hotel.name}"
                        th:data-address="${hotel.address}" th:data-zip="${hotel.cityCode}"
                        th:data-city="${hotel.city}" th:data-owner="${hotel.owner}"
                        th:data-contact="${hotel.contact}" th:data-phone="${hotel.phone}"
                        th:data-emailAdress="${hotel.emailAddress}" th:data-url="${hotel.url}"
                        th:data-category="${hotel.category}" th:data-familyFriendly="${hotel.familyFriendly}"
                        th:data-spa="${hotel.spa}" th:data-fitness="${hotel.fitness}"
                        th:data-subscribed="${hotel.subscribed}"
                        onclick="showHotelInfo(this)">
                    <!-- Codebegin_Dominik_Lang_07.04.2024_added icon-->
                    <img src="/images/detailsPNG.png" alt="details" style="width: 20px; height: 20px;">
                    <!-- Codeend_Dominik_Lang_07.04.2024_added icon-->
                </button>

                <!-- Codebegin_Dominik_Lang_07.04.2024_added buttons and icons to html table-->
            <td style="text-align: center; padding: 0;">
                <button class="btn" style="width: 100%; height: 100%; padding: 0; border: 2px solid black; background: #cccccc; display: flex; justify-content: center; align-items: center;">
                    <img src="/images/addOccpPNG.png" alt="addOccp" style="width: 20px; height: 20px;">
                </button>
            </td>
            <td style="text-align: center; padding: 0;">
                <button class="btn" style="width: 100%; height: 100%; padding: 0; border: 2px solid black; background: #cccccc; display: flex; justify-content: center; align-items: center;">
                    <img src="/images/deletePNG.png" alt="delete" style="width: 20px; height: 20px;">
                </button>
            </td>
            <!-- Codeend_Dominik_Lang_07.04.2024_added buttons and icons to html table-->

           <!-- <td>
                <button onclick="toggleOccupancy('${hotel.id}')" class="btn btn-info">Show Occupancy</button>
            </td>
            -->


            <!-- sulim code für occupancy table
                  </tr>
                  </tbody>

                  <tr style="color: white; width: 80px; text-align: center">
                      <th>Total Rooms</th>
                      <th>Booked Rooms</th>
                      <th>Room Occ. in %</th>
                      <th>Total Beds</th>
                      <th>Booked Beds</th>
                      <th>Bed Occ. in %</th>
                      <th>#1 of National Guest</th>
                  </tr>
                  </thead>
                  <tbody style="background-color: white;">
                  <tr th:each="occupancy : ${occupancyPage.content}" th:if="${occupancy != null}">

                      <td th:text="${occupancy.rooms}">0</td>
                      <td th:text="${occupancy.usedrooms}">0</td>
                      <td th:text="${occupancy.rooms > 0 ? (occupancy.usedrooms * 100 / occupancy.rooms) : 0} + '%'">0%</td>
                      <td th:text="${occupancy.beds}">0</td>
                      <td th:text="${occupancy.usedbeds}">0</td>
                      <td th:text="${occupancy.beds > 0 ? (occupancy.usedbeds * 100 / occupancy.beds) : 0}">0%</td>
                  </tr>
           code ende occupancy table -->



        </tr>
        </tbody>
    </table>
</div>
<div id="hotelInfoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>HOTEL INFO:</h2>
        <div id="hotelInfoContent">
            <!-- Hotelinfos -->
        </div>
        <br>
        <button id="closeInfo">CLOSE</button>
    </div>
</div>
<br>
<!-- Paginierungscontainer -->
<div class="pagination-and-size-selector">
    <div class="pagination-container" >
        <!-- Zur ersten Seite -->
        <a th:if="${hotelPage.number > 1}" th:href="@{/index(size=${hotelPage.size}, page=1)}" class="btn btn-pagination btn-pagination-arrow">&lt;&lt;</a>
        <!-- Zur vorherigen Seite -->
        <a th:if="${hotelPage.hasPrevious()}" th:href="@{/index(size=${hotelPage.size}, page=${hotelPage.number})}" class="btn btn-pagination btn-pagination-arrow">&lt;</a>

        <!-- Seitennummern -->
        <a th:each="pageNum : ${pageNumbers}"
           th:href="@{/index(size=${hotelPage.size}, page=${pageNum})}"
           th:text="${pageNum}"
           th:class="${pageNum == hotelPage.number + 1 ? 'btn btn-pagination active' : 'btn btn-pagination'}">
        </a>

        <!-- Zur nächsten Seite -->
        <a th:if="${hotelPage.hasNext()}" th:href="@{/index(size=${hotelPage.size}, page=${hotelPage.number + 2})}" class="btn btn-pagination btn-pagination-arrow">&gt;</a>
        <!-- Zur letzten Seite -->
        <a th:if="${hotelPage.number + 1 < totalPages}" th:href="@{/index(size=${hotelPage.size}, page=${totalPages})}" class="btn btn-pagination btn-pagination-arrow">&gt;&gt;</a>
    </div>

    <div class="hotels-per-page-container">
        <!-- Das Formular zur Auswahl der Seitengröße -->
        <form action="/index" method="get" class="form-inline">
            <label for="pageSizeBottom">Hotels per Page:</label>
            <select name="size" id="pageSizeBottom" class="form-control form-control-sm" onchange="this.form.submit()">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </form>
    </div>
</div>
<!-- Codeende #1_Achill_10.03.2024/27.03.2024/28.03.2024/03.04.2024_Overview Of Hotels -->

<!--Codeanfang_Achill_16.04.2024_OccupancyData -->
<div th:if="${occupancyPage != null}">
    <table>
        <thead>
        <tr style="color: white; width: 80px; text-align: center">
            <th>Hotel Name</th>
            <th>ZIP</th>
            <th>Category</th>
            <th>Total Rooms</th>
            <th>Booked Rooms</th>
            <th>Room Occ. in %</th>
            <th>Total Beds</th>
            <th>Booked Beds</th>
            <th>Bed Occ. in %</th>
            <th>#1 of National Guest</th>
        </tr>
        </thead>
        <tbody style="background-color: white;">
        <tr th:each="occupancy : ${occupancyPage.content}" th:if="${occupancy != null}">
            <td th:text="${occupancy.hotel.name}">Hotel Name</td>
            <td th:text="${occupancy.hotel.cityCode}">ZIP Code</td>
            <td th:text="${occupancy.hotel.category}">Category</td>
            <td th:text="${occupancy.rooms}">0</td>
            <td th:text="${occupancy.usedrooms}">0</td>
            <td th:text="${occupancy.rooms > 0 ? (occupancy.usedrooms * 100 / occupancy.rooms) : 0} + '%'">0%</td>
            <td th:text="${occupancy.beds}">0</td>
            <td th:text="${occupancy.usedbeds}">0</td>
            <td th:text="${occupancy.beds > 0 ? (occupancy.usedbeds * 100 / occupancy.beds) : 0}">0%</td>

        </tr>
        </tbody>
    </table>
</div>


<!--Codeanfang_Achill_16.04.2024_OccupancyData-->
</body>
</html>