<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Occupancy Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/occupancyFormStyle.css}" />
</head>


<body>
<!--Code Anfang #3_Nikola_01.04_Zweite Version vom Add Occupancy Form - HTML Struktur überarbeitet -->

<div  th:if="${error != null }" th:text="${error}">
    <p th:text= "'Error: ' + ${error}" />
</div>

<form action="#" th:action="@{/occupancyform.html}" th:object="${command}" method="post">

    <h2>Add Occupancy Data: </h2>
    <div class="form-group">
        <label for="hotelID">Hotel ID:</label>
        <input type="text" id="hotelID" name="hotelID" value="1" min="0" readonly>
    </div>
    <div class="form-group">
        <label for="hotelName">Hotel Name:</label>
        <input type="text" id="hotelName" name="hotelName" value="Hotelname 1" readonly>
    </div>
    <div class="form-group">
        <label for="zip">ZIP:</label>
        <input type="text" id="zip" name="zip" min="0" readonly>
    </div>
    <div class="form-group">
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" min="0">
    </div>
    <div class="form-group">
        <label for="month">Month:</label>
        <input type="number" id="month" name="month" min="1" max="12">
    </div>
    <div class="form-group">
        <label for="maxRooms">Max Rooms:</label>
        <input type="number" id="maxRooms" name="maxRooms" min="0">
    </div>
    <div class="form-group">
        <label for="bookedRooms">Booked Rooms:</label>
        <input type="number" id="bookedRooms" name="bookedRooms" min="0">
    </div>
    <div class="form-group">
        <label for="maxBeds">Max Beds:</label>
        <input type="number" id="maxBeds" name="maxBeds" min="0">
    </div>
    <div class="form-group">
        <label for="bookedBeds">Booked Beds:</label>
        <input type="number" id="bookedBeds" name="bookedBeds" min="0">
    </div>
    <p><input type="Add" value="Add" /> <input type="Close" value="Close" /> </p>

</form>
</body>
</html>

<!-- Code Ende #3_Nikola_01.04_Zweite Version vom Add Occupancy Form - HTML Struktur überarbeitet-->