/* Codeanfang_Achill_durchgehend */
body {
    background-color: #66ccff;
}

h1 {
    color: #55ff1f;
}

h2 {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}
hr {
    border: 0;
    height: 2px;
    background-color: #333; /* Dunkelgrau */
}
table
{
    border-color: black;
}



.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.logo img {
    max-height: 100px;
    width: auto;
}

.topnav-lower {
    background-color: #66ccff;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
.topnav-upper {
    background-color: #66ccff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navigation-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation-links a {
    padding: 8px 16px;
    background-color: #f0ad4e;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navigation-links a:hover {
    background-color: #ec971f;
}

.navigation-links a.active {
    background-color: #d58512;
}

@media (max-width: 768px) {
    .topnav-lower .navigation-links {
        flex-direction: column;
        gap: 0.5rem;
    }
}
@media (max-width: 768px) {
    .topnav-upper {
        flex-direction: column;
        align-items: center;
    }
}
hr {
    border: 0;
    height: 2px;
    background-color: #333;
}

/* Paginierungskontainer - zentriert die Elemente */
.pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .pagination a {
        margin: 0 10px; /* Abstand zwischen den Buttons */
    }

    .pagination a.active {
        font-weight: bold;
        text-decoration: underline;
    }

    .btn-pagination {
        background-color: white;
        color:black;
        min-width: 50px;
        padding: 0.5rem 0.75rem;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #dee2e6;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

    /* Style für den aktiven Button */
    .btn-pagination.active {
        background-color: #666666;
        color: white;
        border-color: #666666;
    }

    .btn-pagination:not(.active):hover {
        background-color: #5bc0de;
        color: white;
        border-color: #46b8da;
    }

.user-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flags-help-logout {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-under-flags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}
.hotels-per-page-container {
    display: flex;
    gap: 10px;
}
.pagination-and-size-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/* Style für jede zweite Zeile in der Tabelle */
#hotelData tr:nth-child(even) {
    background-color: #ccffff;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Codebegin_Lang_27.04.2024_04.05.2024_Histogram_Pop_up_window_Req#6_HelpWindow_add_hotel*/

/*HISTOGRAM:*/

.histogram-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
    display: inline-block; /* oder 'block', je nach Bedarf */
    max-width: 90vw; /* Maximale Breite, kann auf 'none' gesetzt werden, wenn nicht benötigt */
    max-height: 80vh; /* Maximale Höhe, kann auf 'none' gesetzt werden, wenn nicht benötigt */
}

#histogramTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 37.8px; /*Abstand*/
}

#histogramCloseBtn {
    background-color: #333366;
    position: absolute; /* Positioniert den Button absolut innerhalb seines Elternelements */
    bottom: 10px; /* Abstand vom unteren Rand des Modals */
    right: 10px; /* Abstand vom rechten Rand des Modals */
    width: auto; /* Entfernt eine spezifische Breite, damit der Button den Inhalt umschließt */
    padding: 5px 15px; /* Etwas weniger Polsterung für einen nicht so breiten Button */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 37.8px; /* Fügt 1 cm Abstand über dem Schließknopf hinzu */
}

/*HELP:*/

.help-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
    display: inline-block; /* oder 'block', je nach Bedarf */
    max-width: 90vw; /* Maximale Breite, kann auf 'none' gesetzt werden, wenn nicht benötigt */
    max-height: 80vh; /* Maximale Höhe, kann auf 'none' gesetzt werden, wenn nicht benötigt */
}

#helpTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 37.8px; /*Abstand*/
}

#helpCloseBtn {
    background-color: #333366;
    position: absolute; /* Positioniert den Button absolut innerhalb seines Elternelements */
    bottom: 10px; /* Abstand vom unteren Rand des Modals */
    right: 10px; /* Abstand vom rechten Rand des Modals */
    width: auto; /* Entfernt eine spezifische Breite, damit der Button den Inhalt umschließt */
    padding: 5px 15px; /* Etwas weniger Polsterung für einen nicht so breiten Button */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 37.8px; /* Fügt 1 cm Abstand über dem Schließknopf hinzu */
}

/*ADD_HOTEL:*/

.addHotel-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
    display: inline-block; /* oder 'block', je nach Bedarf */
    max-width: 90vw; /* Maximale Breite, kann auf 'none' gesetzt werden, wenn nicht benötigt */
    max-height: 80vh; /* Maximale Höhe, kann auf 'none' gesetzt werden, wenn nicht benötigt */
}

#addHotelTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 37.8px; /*Abstand*/
}

#addHotelCloseBtn {
    background-color: #333366;
    position: absolute; /* Positioniert den Button absolut innerhalb seines Elternelements */
    bottom: 10px; /* Abstand vom unteren Rand des Modals */
    right: 10px; /* Abstand vom rechten Rand des Modals */
    width: auto; /* Entfernt eine spezifische Breite, damit der Button den Inhalt umschließt */
    padding: 5px 15px; /* Etwas weniger Polsterung für einen nicht so breiten Button */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 37.8px; /* Fügt 1 cm Abstand über dem Schließknopf hinzu */
}

/*Codebegin_Lang_27.04.2024_04.05.2024_Histogram_Pop_up_window_Req#6_HelpWindow_add_hotel*/

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#closeBtn {
    background-color: #6699cc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
}

.modal-content h2 {
    color: black;
    text-align: center;
}
.modal-content p {
    text-align: center;
}

.btn-secondary:active {
    transform: scale(0.98);
}

.btn-secondary:hover {
    background-color: #ffa500;
    cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#closeBtn, #closeInfo {
    background-color: #6699cc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
}

.modal-content h2 {
    color: black;
    text-align: center;
}
.modal-content p {
    text-align: center;
}

.btn-secondary:active {
    transform: scale(0.98);
}

.btn-secondary:hover {
    background-color: #ffa500;
    cursor: pointer;
}

/* Codeende_Achill_durchgehend */
