/* Codeanfang_Achill_durchgehend */
body {
    background-color: #66ccff;
}

h1 {
    color: #55ff1f;
}

h2 {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}
hr {
    border: 0;
    height: 2px;
    background-color: #333; /* Dunkelgrau */
}
table
{
    border-color: black;
}

/* Style für jede zweite Zeile in der Tabelle */

tr:nth-child(even) {
    background-color: #ccffff;
}

tbody:nth-child(even) {
    background-color: #ccffff;
}






.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.logo img {
    max-height: 100px;
    width: auto;
}

.topnav-lower {
    background-color: #66ccff;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
.topnav-upper {
    background-color: #66ccff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navigation-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation-links a {
    padding: 8px 16px;
    background-color: #f0ad4e;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navigation-links a:hover {
    background-color: #ec971f;
}

.navigation-links a.active {
    background-color: #d58512;
}

@media (max-width: 768px) {
    .topnav-lower .navigation-links {
        flex-direction: column;
        gap: 0.5rem;
    }
}
@media (max-width: 768px) {
    .topnav-upper {
        flex-direction: column;
        align-items: center;
    }
}
hr {
    border: 0;
    height: 2px;
    background-color: #333;
}

/* Paginierungskontainer - zentriert die Elemente */
.pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .pagination a {
        margin: 0 10px; /* Abstand zwischen den Buttons */
    }

    .pagination a.active {
        font-weight: bold;
        text-decoration: underline;
    }

    .btn-pagination {
        background-color: white;
        color:black;
        min-width: 50px;
        padding: 0.5rem 0.75rem;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #dee2e6;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

    /* Style für den aktiven Button */
    .btn-pagination.active {
        background-color: #666666;
        color: white;
        border-color: #666666;
    }

    .btn-pagination:not(.active):hover {
        background-color: #5bc0de;
        color: white;
        border-color: #46b8da;
    }

.user-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flags-help-logout {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-under-flags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}
.hotels-per-page-container {
    display: flex;
    gap: 10px;
}
.pagination-and-size-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Codebegin_Lang_27.04.2024_04.05.2024_Histogram_Pop_up_window_Req#6_HelpWindow_add_hotel*/

/*HISTOGRAM:*/

.histogram-container {
    width: 50%; /* Breite des Containers auf 100% des Elternelements setzen */
    height: 50%; /* Höhe festlegen, anpassbar nach Bedarf */
    margin: auto; /* Zentrieren des Containers */
}

.histogram-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
    display: inline-block; /* oder 'block', je nach Bedarf */
    max-width: 90vw; /* Maximale Breite, kann auf 'none' gesetzt werden, wenn nicht benötigt */
    max-height: 80vh; /* Maximale Höhe, kann auf 'none' gesetzt werden, wenn nicht benötigt */
}

#histogramTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 37.8px; /*Abstand*/
}

#histogramCloseBtn {
    background-color: #333366;
    position: absolute; /* Positioniert den Button absolut innerhalb seines Elternelements */
    bottom: 10px; /* Abstand vom unteren Rand des Modals */
    right: 10px; /* Abstand vom rechten Rand des Modals */
    width: auto; /* Entfernt eine spezifische Breite, damit der Button den Inhalt umschließt */
    padding: 5px 15px; /* Etwas weniger Polsterung für einen nicht so breiten Button */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 37.8px; /* Fügt 1 cm Abstand über dem Schließknopf hinzu */
}

/*HELP:*/

.help-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
    display: inline-block; /* oder 'block', je nach Bedarf */
    max-width: 90vw; /* Maximale Breite, kann auf 'none' gesetzt werden, wenn nicht benötigt */
    max-height: 80vh; /* Maximale Höhe, kann auf 'none' gesetzt werden, wenn nicht benötigt */
}

#helpTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 37.8px; /*Abstand*/
    margin-bottom: 37.8px; /*Abstand*/
}

#helpCloseBtn {
    background-color: #333366;
    position: absolute; /* Positioniert den Button absolut innerhalb seines Elternelements */
    bottom: 10px; /* Abstand vom unteren Rand des Modals */
    right: 10px; /* Abstand vom rechten Rand des Modals */
    width: auto; /* Entfernt eine spezifische Breite, damit der Button den Inhalt umschließt */
    padding: 5px 15px; /* Etwas weniger Polsterung für einen nicht so breiten Button */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 37.8px; /* Fügt 1 cm Abstand über dem Schließknopf hinzu */
}

/*ADD_HOTEL:----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Add Hotel Modal Background */
#addHotelModal.modal {
    display: none; /* Verstecke das Modal standardmäßig */
    position: fixed; /* Positioniere das Modal fest */
    z-index: 1; /* Stelle sicher, dass das Modal im Vordergrund ist */
    left: 0;
    top: 0;
    width: 100%; /* Volle Breite */
    height: 100%; /* Volle Höhe */
    background-color: rgba(0, 0, 0, 0.4); /* Schwarzer Hintergrund mit Transparenz */
    display: flex; /* Verwende Flexbox */
    justify-content: center; /* Zentriere horizontal */
    overflow: auto; /* Verhindere das Scrollen der Seite */
    padding: 1rem; /* Füge Padding hinzu, um sicherzustellen, dass das Modal vollständig sichtbar ist */
}

/* Add Hotel Modal Dialog */
#addHotelModal .modal-dialog {
    width: auto; /* Passe die Breite des Modals an */
    max-width: 1200px; /* Maximalbreite des Modals, wurde weiter vergrößert */
    min-width: 600px; /* Mindestbreite des Modals */
    margin: 0; /* Setze Margin auf 0 */
    box-sizing: border-box; /* Bezieht Padding und Border in die Breite und Höhe ein */
    max-height: 100%; /* Maximale Höhe 100% des Viewports */
    overflow: auto; /* Ermögliche Scrollen, wenn der Inhalt zu groß ist */
}

/* Add Hotel Modal Content Styling */
#addHotelModal .modal-content {
    background-color: #d3d3d3; /* Heller Hintergrund */
    padding: 10px; /* Reduziertes Padding */
    border-radius: 8px;
    border: 2px solid black; /* Schwarzer Rand */
    display: flex;
    flex-direction: column; /* Inhalt von oben nach unten anordnen */
    max-height: 100%; /* Maximale Höhe 100% des Modals */
    overflow: auto; /* Ermögliche Scrollen innerhalb des Modals */
}

/* Add Hotel Modal Header Styling */
#addHotelModal .modal-header h2 {
    text-align: center;
    font-weight: bold;
    color: black;
    width: 100%;
    font-size: 1.25rem; /* Kleinere Schriftgröße */
}

/* Add Hotel Form Group Styling */
#addHotelModal .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; /* Weniger Abstand */
}

/* Add Hotel Label Styling */
#addHotelModal label {
    font-weight: bold;
    color: black;
    flex: 1;
    font-size: 0.9rem; /* Kleinere Schriftgröße */
}

/* Add Hotel Input Styling */
#addHotelModal .form-control {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    flex: 2;
    font-size: 0.9rem; /* Kleinere Schriftgröße */
    padding: 0.25rem; /* Weniger Padding */
}

/* Add Hotel Select Styling */
#addHotelModal .form-control.select {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    flex: 2;
    font-size: 0.9rem; /* Kleinere Schriftgröße */
    padding: 0.25rem; /* Weniger Padding */
}

/* Add Hotel Checkbox Group Styling */
#addHotelModal .form-group input[type="checkbox"] {
    margin-left: 0.25rem; /* Weniger Abstand zwischen Label und Checkbox */
}

/* Spezifischer Abstand für die Kategorie und die Checkbox-Gruppe */
#addHotelModal .form-group.category {
    margin-bottom: 1.5rem; /* Größerer Abstand */
}

/* Add Hotel Modal Footer Styling */
#addHotelModal .modal-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem; /* Weniger Abstand */
    padding-left: 10px; /* Abstand links */
    padding-right: 10px; /* Abstand rechts */
    padding-bottom: 5px; /* Weniger Abstand unten */
}

/* Add Hotel Button Styling */
#addHotelModal .modal-footer .btn {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0.25rem 1rem; /* Kleinere Buttons */
    font-size: 0.9rem; /* Kleinere Schriftgröße */
}

#addHotelModal .modal-footer .btn-secondary {
    background-color: #2c3e50; /* Dunkelblau für Cancel */
    color: white;
    margin-left: 0; /* Setze den Cancel-Button nach rechts */
}

#addHotelModal .modal-footer .btn-primary {
    background-color: #f1c40f; /* Gelb für Add */
    color: black;
    margin-right: 0; /* Setze den Add-Button nach links */
}

/*Hoteldetail_addHotel:-------------------------------------------------------------------------------------------*/

/* Hotel Details Modal Background */
#hotelDetailsModal.modal {
    display: none; /* Verstecke das Modal standardmäßig */
    position: fixed; /* Positioniere das Modal fest */
    z-index: 1; /* Stelle sicher, dass das Modal im Vordergrund ist */
    left: 0;
    top: 0;
    width: 100%; /* Volle Breite */
    height: 100%; /* Volle Höhe */
    background-color: rgba(0, 0, 0, 0.4); /* Schwarzer Hintergrund mit Transparenz */
    display: flex; /* Verwende Flexbox */
    justify-content: center; /* Zentriere horizontal */
    overflow: auto; /* Aktiviere das Scrollen, wenn nötig */
    padding: 1rem; /* Füge Padding hinzu, um sicherzustellen, dass das Modal vollständig sichtbar ist */
}

/* Hotel Details Modal Dialog */
#hotelDetailsModal .modal-dialog {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
}

/*Codeend_Lang_27.04.2024_04.05.2024_Histogram_Pop_up_window_Req#6_HelpWindow_add_hotel---------------------------------------------------------*/

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#closeBtn {
    background-color: #6699cc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
}

.modal-content h2 {
    color: black;
    text-align: center;
}
.modal-content p {
    text-align: center;
}

.btn-secondary:active {
    transform: scale(0.98);
}

.btn-secondary:hover {
    background-color: #ffa500;
    cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#closeBtn, #closeInfo {
    background-color: #6699cc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
}

.modal-content h2 {
    color: black;
    text-align: center;
}
.modal-content p {
    text-align: center;
}

.btn-secondary:active {
    transform: scale(0.98);
}

.btn-secondary:hover {
    background-color: #ffa500;
    cursor: pointer;
}

/* Codeende_Achill_durchgehend */
